@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
	--color-negro:#222;
	--menu-hover:#b68834;
	--color-cafe:#b68834;
	--color-gris:#777;
	--fondo-header:#222;
	--fondo-footer:#282932;
	--tipografia1:Poppins
	
}
body{

	font-size: 14px;
	font-family: var(--tipografia1);
}
header{
	position: relative;
	background-color: var(--fondo-header);
	width: 100%;
	top:0;
	border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}
footer{
	background-color: var(--fondo-footer);
	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	background-position: center;
	padding-top: 40px;
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	font-size: 13px;
	font-weight: 600;
}
footer p span{
	color: var(--color-cafe);
}
footer #copy{
	padding: 20px 0;
	margin-top: 5%;
	color: #fff;
	border-top: 1px dashed rgba(255, 255, 255, 0.15);
}

.titulo{
	font-size: 30px;
	font-family: Poppins;
	color: var(--color-negro);
	text-align: center;
	font-weight: 600;
}

.hero{
	background-image: url("../img/header-bg.jpg");
	padding: 60px 0;
	background-size: cover;
	padding-bottom: 300px;
	
	
}

.hero h1{
	font-size: 70px;
	color: #fff;
	font-weight: 600;
	padding: 20px 0;
}

.boton{
	border-radius: 100;
	padding: 15px 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 600;
	border: 100;
	color: var(--color-cafe);

}

.about{
	padding: 60px;
}

.about h2{
	color: var(--color-cafe);
	font-size: 20px;
}

.about h3{
	font-size: 40px;
	font-weight: 600;
	padding: 20px 0;
}

.about h4{
	font-size: 20px;
	font-weight: 600;
}

.about p{
	font-size: 15px;
	color: var(--fondo-footer);
}

.menu{
	padding-left: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-image: url(../img/menu-bg.jpg);
}

.menu h5{
	font-size: 18px;
	font-weight: 600;
}

.menu h6{
	font-size: 18px;
	font-weight: 600;
	color: var(--color-cafe);
}

.kind{
	padding: 60px;
}

.pad{
	padding: 15px 0;
}

.blog h5{
	font-weight: 700;
}

.blog h6{
	font-weight: 600;
}

.blog p{
	font-size: 15px;
}

.blog{
	padding: 60px;
	background-color: #F1F0E8;

}